In [12]:
using Pkg
Pkg.add("StatsBase")
Pkg.add("ClassImbalance")
Pkg.add("ROCAnalysis")
using Pkg
using DataFrames
using CSV
using Plots
using GLM
using StatsBase
using Lathe
using MLBase
using ClassImbalance
using ROCAnalysis

   Resolving package versions...
  No Changes to `C:\Users\harsh\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\harsh\.julia\environments\v1.6\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\harsh\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\harsh\.julia\environments\v1.6\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\harsh\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\harsh\.julia\environments\v1.6\Manifest.toml`

In [13]:
ENV["Columns"] = 1000 #enable printing of 1000 columns

1000

In [16]:
df = DataFrame(CSV.File("Churn_Modelling.csv"))
first(df,5)

5×14 typename(DataFrame)
│ Row │ RowNumber │ CustomerId │ Surname  │ CreditScore │ Geography │ Gender │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │
│     │ Int64     │ Int64      │ String   │ Int64       │ String    │ String │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │
├─────┼───────────┼────────────┼──────────┼─────────────┼───────────┼────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┤
│ 1   │ 1         │ 15634602   │ Hargrave │ 619         │ France    │ Female │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │
│ 2   │ 2         │ 15647311   │ Hill     │ 608         │ Spain     │ Female │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │
│ 3   │ 3         │ 15619304   │ Onio     │ 502         │ France    │ Female │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │
│ 4   │ 4         │ 15701354   │ Boni     │ 699         │ France    │ Female │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │
│ 5   │ 5         │ 15737888   │ Mitchell │ 850         │ Spain     │ Female │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │

In [17]:
first(df,10)

10×14 typename(DataFrame)
│ Row │ RowNumber │ CustomerId │ Surname  │ CreditScore │ Geography │ Gender │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │
│     │ Int64     │ Int64      │ String   │ Int64       │ String    │ String │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │
├─────┼───────────┼────────────┼──────────┼─────────────┼───────────┼────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┤
│ 1   │ 1         │ 15634602   │ Hargrave │ 619         │ France    │ Female │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │
│ 2   │ 2         │ 15647311   │ Hill     │ 608         │ Spain     │ Female │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │
│ 3   │ 3         │ 15619304   │ Onio     │ 502         │ France    │ Female │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │
│ 4   │ 4         │ 15701354   │ Boni     │ 699         │ France    │ Female │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │
│ 5   │ 5         │ 15737888   │ Mitchell │ 850         │ Spain     │ Female │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │
│ 6   │ 6         │ 15574012   │ Chu      │ 645         │ Spain     │ Male   │ 44    │ 8      │ 1.13756e5 │ 2             │ 1         │ 0              │ 1.49757e5       │ 1      │
│ 7   │ 7         │ 15592531   │ Bartlett │ 822         │ France    │ Male   │ 50    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 10062.8         │ 0      │
│ 8   │ 8         │ 15656148   │ Obinna   │ 376         │ Germany   │ Female │ 29    │ 4      │ 1.15047e5 │ 4             │ 1         │ 0              │ 1.19347e5       │ 1      │
│ 9   │ 9         │ 15792365   │ He       │ 501         │ France    │ Male   │ 44    │ 4      │ 1.42051e5 │ 2             │ 0         │ 1              │ 74940.5         │ 0      │
│ 10  │ 10        │ 15592389   │ H?       │ 684         │ France    │ Male   │ 27    │ 2      │ 1.34604e5 │ 1             │ 1         │ 1              │ 71725.7         │ 0      │

In [18]:
describe(df)

14×8 typename(DataFrame)
│ Row │ variable        │ mean      │ min      │ median    │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol          │ Union…    │ Any      │ Union…    │ Any       │ Union…  │ Nothing  │ DataType │
├─────┼─────────────────┼───────────┼──────────┼───────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ RowNumber       │ 5000.5    │ 1        │ 5000.5    │ 10000     │         │          │ Int64    │
│ 2   │ CustomerId      │ 1.56909e7 │ 15565701 │ 1.56907e7 │ 15815690  │         │          │ Int64    │
│ 3   │ Surname         │           │ Abazu    │           │ Zuyeva    │ 2932    │          │ String   │
│ 4   │ CreditScore     │ 650.529   │ 350      │ 652.0     │ 850       │         │          │ Int64    │
│ 5   │ Geography       │           │ France   │           │ Spain     │ 3       │          │ String   │
│ 6   │ Gender          │           │ Female   │           │ Male      │ 2       │          │ String   │
│ 7   │ Age             │ 38.9218   │ 18       │ 37.0      │ 92        │         │          │ Int64    │
│ 8   │ Tenure          │ 5.0128    │ 0        │ 5.0       │ 10        │         │          │ Int64    │
│ 9   │ Balance         │ 76485.9   │ 0.0      │ 97198.5   │ 2.50898e5 │         │          │ Float64  │
│ 10  │ NumOfProducts   │ 1.5302    │ 1        │ 1.0       │ 4         │         │          │ Int64    │
│ 11  │ HasCrCard       │ 0.7055    │ 0        │ 1.0       │ 1         │         │          │ Int64    │
│ 12  │ IsActiveMember  │ 0.5151    │ 0        │ 1.0       │ 1         │         │          │ Int64    │
│ 13  │ EstimatedSalary │ 1.0009e5  │ 11.58    │ 1.00194e5 │ 1.99992e5 │         │          │ Float64  │
│ 14  │ Exited          │ 0.2037    │ 0        │ 0.0       │ 1         │         │          │ Int64    │

In [20]:
names(df)

14-element Vector{Symbol}:
 :RowNumber
 :CustomerId
 :Surname
 :CreditScore
 :Geography
 :Gender
 :Age
 :Tenure
 :Balance
 :NumOfProducts
 :HasCrCard
 :IsActiveMember
 :EstimatedSalary
 :Exited

In [21]:
countmap(df.Exited)

Dict{Int64, Int64} with 2 entries:
  0 => 7963
  1 => 2037

In [22]:
Lathe.preprocess.OneHotEncode(df,:Geography)
Lathe.preprocess.OneHotEncode(df,:Gender)
select!(df,Not([:RowNumber,:CustomerId,:Surname,:Gender,:Male]))
first(df,5)

5×14 typename(DataFrame)
│ Row │ CreditScore │ Geography │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│     │ Int64       │ String    │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├─────┼─────────────┼───────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1   │ 619         │ France    │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2   │ 608         │ Spain     │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 3   │ 502         │ France    │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 4   │ 699         │ France    │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 5   │ 850         │ Spain     │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │ 0      │ 1     │ 0       │ 1      │

In [23]:
using Lathe.preprocess: TrainTestSplit
train,test = TrainTestSplit(df,.75)

(7528×14 typename(DataFrame)
│ Row  │ CreditScore │ Geography │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│      │ Int64       │ String    │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├──────┼─────────────┼───────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1    │ 608         │ Spain     │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 2    │ 502         │ France    │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 3    │ 699         │ France    │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 4    │ 645         │ Spain     │ 44    │ 8      │ 1.13756e5 │ 2             │ 1         │ 0              │ 1.49757e5       │ 1      │ 0      │ 1     │ 0       │ 0      │
│ 5    │ 822         │ France    │ 50    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 10062.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 6    │ 376         │ Germany   │ 29    │ 4      │ 1.15047e5 │ 4             │ 1         │ 0              │ 1.19347e5       │ 1      │ 0      │ 0     │ 1       │ 1      │
│ 7    │ 501         │ France    │ 44    │ 4      │ 1.42051e5 │ 2             │ 0         │ 1              │ 74940.5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 8    │ 549         │ France    │ 25    │ 5      │ 0.0       │ 2             │ 0         │ 0              │ 1.90858e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 9    │ 635         │ Spain     │ 35    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 65951.6         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 10   │ 616         │ Germany   │ 45    │ 3      │ 1.43129e5 │ 2             │ 0         │ 1              │ 64327.3         │ 0      │ 0      │ 0     │ 1       │ 0      │
⋮
│ 7518 │ 673         │ Germany   │ 47    │ 1      │ 1.8358e5  │ 2             │ 0         │ 1              │ 34047.5         │ 0      │ 0      │ 0     │ 1       │ 0      │
│ 7519 │ 606         │ Spain     │ 30    │ 8      │ 1.80308e5 │ 2             │ 1         │ 1              │ 1914.41         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7520 │ 775         │ France    │ 30    │ 4      │ 0.0       │ 2             │ 1         │ 0              │ 49337.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7521 │ 597         │ France    │ 53    │ 4      │ 88381.2   │ 1             │ 1         │ 0              │ 69384.7         │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 7522 │ 726         │ Spain     │ 36    │ 2      │ 0.0       │ 1             │ 1         │ 0              │ 1.95192e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7523 │ 800         │ France    │ 29    │ 2      │ 0.0       │ 2             │ 0         │ 0              │ 1.67774e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 7524 │ 771         │ France    │ 39    │ 5      │ 0.0       │ 2             │ 1         │ 0              │ 96270.6         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7525 │ 516         │ France    │ 35    │ 10     │ 57369.6   │ 1             │ 1         │ 1              │ 1.017e5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7526 │ 709         │ France    │ 36    │ 7      │ 0.0       │ 1             │ 0         │ 1              │ 42085.6         │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 7527 │ 772         │ Germany   │ 42    │ 3      │ 75075.3   │ 2             │ 1         │ 0              │ 92888.5         │ 1      │ 0      │ 0     │ 1       │ 0      │
│ 7528 │ 792         │ France    │ 28    │ 4      │ 1.30143e5 │ 1             │ 1         │ 0              │ 38190.8         │ 0      │ 1      │ 0     │ 0       │ 1      │, 2472×14 typename(DataFrame)
│ Row  │ CreditScore │ Geography │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│      │ Int64       │ String    │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├──────┼─────────────┼───────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1    │ 619         │ France    │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2    │ 850         │ Spain     │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 3    │ 684         │ France    │ 27    │ 2      │ 1.34604e5 │ 1             │ 1         │ 1              │ 71725.7         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 4    │ 528         │ France    │ 31    │ 6      │ 1.02017e5 │ 2             │ 0         │ 0              │ 80181.1         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 5    │ 497         │ Spain     │ 24    │ 3      │ 0.0       │ 2             │ 1         │ 0              │ 76390.0         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 6    │ 476         │ France    │ 34    │ 10     │ 0.0       │ 2             │ 1         │ 0              │ 26261.0         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 7    │ 549         │ Spain     │ 24    │ 9      │ 0.0       │ 2             │ 1         │ 1              │ 14406.4         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 8    │ 726         │ France    │ 24    │ 6      │ 0.0       │ 2             │ 1         │ 1              │ 54724.0         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 9    │ 804         │ Spain     │ 33    │ 7      │ 76548.6   │ 1             │ 0         │ 1              │ 98453.4         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 10   │ 511         │ Spain     │ 66    │ 4      │ 0.0       │ 1             │ 1         │ 0              │ 1643.11         │ 1      │ 0      │ 1     │ 0       │ 1      │
⋮
│ 2462 │ 479         │ Spain     │ 35    │ 4      │ 125921.0  │ 1             │ 1         │ 1              │ 20393.4         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2463 │ 611         │ France    │ 27    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 1.57474e5       │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2464 │ 610         │ Germany   │ 50    │ 1      │ 113957.0  │ 2             │ 1         │ 0              │ 1.96527e5       │ 1      │ 0      │ 0     │ 1       │ 0      │
│ 2465 │ 683         │ France    │ 32    │ 9      │ 0.0       │ 2             │ 1         │ 1              │ 24991.9         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 2466 │ 774         │ France    │ 40    │ 9      │ 93017.5   │ 2             │ 1         │ 0              │ 191609.0        │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2467 │ 741         │ Spain     │ 35    │ 6      │ 74371.5   │ 1             │ 0         │ 0              │ 99595.7         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2468 │ 655         │ Germany   │ 46    │ 7      │ 1.37145e5 │ 1             │ 1         │ 0              │ 1.15146e5       │ 1      │ 0      │ 0     │ 1       │ 1      │
│ 2469 │ 613         │ France    │ 40    │ 4      │ 0.0       │ 1             │ 0         │ 0              │ 1.51325e5       │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2470 │ 841         │ Spain     │ 28    │ 4      │ 0.0       │ 2             │ 1         │ 1              │ 1.79437e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2471 │ 714         │ Germany   │ 33    │ 3      │ 35016.6   │ 1             │ 1         │ 0              │ 53667.1         │ 0      │ 0      │ 0     │ 1       │ 0      │
│ 2472 │ 644         │ France    │ 28    │ 7      │ 1.5506e5  │ 1             │ 1         │ 0              │ 29179.5         │ 0      │ 1      │ 0     │ 0       │ 0      │)

In [24]:

fm = @formula(Exited ~ CreditScore + Age + Tenure + Balance + NumOfProducts +HasCrCard + IsActiveMember + EstimatedSalary +Female + France + Spain)
logit = glm(fm,train,Binomial(),ProbitLink())
#Creating Logistic regression model using Binomial and ProbitLink

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.Cholesky{Float64, Matrix{Float64}}}}, Matrix{Float64}}

Exited ~ 1 + CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + Female + France + Spain

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────
                        Coef.   Std. Error       z  Pr(>|z|)     Lower 95%    Upper 95%
───────────────────────────────────────────────────────────────────────────────────────
(Intercept)      -1.88615      0.167586     -11.25    <1e-28  -2.21461      -1.55768
CreditScore      -0.000400848  0.000184274   -2.18    0.0296  -0.000762018  -3.96784e-5
Age               0.0430162    0.001686      25.51    <1e-99   0.0397117     0.0463207
Tenure           -0.00783851   0.00616569    -1.27    0.2036  -0.019923      0.00424602
Balance           1.37467e-6   3.36676e-7     4.08    <1e-04   7.148e-7      2.03454e-6
NumOfProducts    -0.0855674    0.0316009     -2.71    0.0068  -0.147504     -0.0236308
HasCrCard         0.00857071   0.039025       0.22    0.8262  -0.0679169     0.0850583
IsActiveMember   -0.592148     0.0368787    -16.06    <1e-57  -0.664429     -0.519867
EstimatedSalary   4.84786e-7   3.09062e-7     1.57    0.1167  -1.20966e-7    1.09054e-6
Female            0.303525     0.0356774      8.51    <1e-16   0.233599      0.373452
France           -0.446026     0.0450818     -9.89    <1e-22  -0.534385     -0.357668
Spain            -0.43412      0.0521964     -8.32    <1e-16  -0.536423     -0.331817
───────────────────────────────────────────────────────────────────────────────────────

In [25]:
prediction = predict(logit,test)

2472-element Vector{Union{Missing, Float64}}:
 0.13441027957269924
 0.16312055997869357
 0.028071066778086507
 0.10576384337643277
 0.050904384909257264
 0.16228251312156192
 0.021552378433696825
 0.01958058752299276
 0.03572223969220445
 0.6949527575955071
 0.2522187768523544
 0.06490383515551663
 0.1841944161807767
 ⋮
 0.1456270228601341
 0.06372699111336812
 0.0158213443790309
 0.5404901035192936
 0.04101275266125616
 0.1751168821564963
 0.13701941100688875
 0.5971788490965237
 0.1838453008643957
 0.015698476805728095
 0.21793749315959568
 0.09845067037101483